$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Londrina Solid', cursive;

@mixin centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: $fonte-principal;
}
.app {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('../Img/bgram.jpg');
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  &__list {
    width: 90%;
    margin: 6rem 0;
    @include centralizar;
    flex-wrap: wrap;
    &__searchbox {
      background-color: #97ce4c;
      width: 100vw;
      max-height: 6rem;
      position: fixed;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      z-index: 1;
      &__container {
        width: 100%;
        height: 5rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content:center;
      
        ul{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin: 3rem;
        }
        img {
          width: 14rem;
          min-width: 5rem;
        }
        input {
          width: 50rem;
          font-size: 1.5em;
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
        button {
          width: 8rem;
          background-color: #00AEC6;
          color:white;
          padding: 0.5rem 1rem;
          font-size: 1.2em;
          border-radius: 0.5rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          cursor: pointer;
          transition:0.5s;
          
          a {
            text-decoration: none;
            color: #000000;
          }
        }
        button:hover{
          box-shadow: rgba(0, 0, 0, 0.2) 3.95px 3.95px 4.6px;
        }
      }
    }
    &__card {
      width: 14rem;
      height: 26rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 0.5rem;
      transition: 0.5s;
      background: rgba( 255, 255, 255, 0.15 );
      box-shadow: 0 8px 32px 0 rgba( 151, 206, 76, 0.37 );
      backdrop-filter: blur( 7.5px );
      -webkit-backdrop-filter: blur( 7.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      &__id {
        font-weight: 100;
        letter-spacing: 0.1em;
        color: #867a88;
      }
      &__link {
        text-decoration: none;
        color: #000000;
      }
      &__img {
        width: 100%;
      }
      &__category {
        padding: 0.5rem 0;
        a {
          text-decoration: none;
        }
        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
        } 
      }
    }
    &__card:hover {
      opacity: 0.9;
      margin-top: -0.1rem;
    }
  }
  .container {
    width: 60%;
    height: 90%;
  }
  .info {
    @include centralizar;
    flex-direction: column;
    
    &__header {
      font-size: 1.8em;
    }
    &__body {
      img {
        width: 15rem;
        display: block;
        margin: 0 auto;
      }
      &__characteristics {
        padding: 1rem 0;
      }
      &__abilities {
        padding: 1rem 0;
      }
      &__status {
        padding: 1rem 0;
      }
      &__moves {
        padding: 1rem 0;
        text-align: justify;
      }
      &__type {
        padding: 1rem 0;
        p {
          padding: 0 0 0.4rem 0;
        }
        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
        } 
      }
    }
    &__footer {
      padding: 1rem 0;
      &__link {
        background-color: #211988;
        padding: 0.2rem 1rem;
        border-radius: 0.4rem;
        color: #ffffff;
        font-size: 1.4em;
        text-decoration: none;
      }
      &__link:hover {
        background-color: #362adf;
      }
    }
  }
  &  &__about {
    width: 100%;
    text-align: center;
    color:white;
    &__container {
      width: 60%;
      margin: 0 auto;
      padding: 1rem 0;
    }

    h2 {
      padding: 2rem 0;
      font-size: 3em;
    }

    &__gif {
      width: 30rem;
    }

    &__ram {
      margin:1rem;
      width: 20rem;
    }

    &__main {
      font-size: 1.4em;
    }

    &__close {
      padding: 2rem;
      font-size: 1.5em;
    }

    &__eu {
      margin-top: 2rem;
      width: 20rem;
    }

    &__links {
      img {
        width:4rem;
        height:4rem;
        color: #000000;
        font-size: 3em;
        margin: 2rem;
        transition: 100ms;
      }
    }
    &__link {
      margin: 0 auto;
      display: block;
      text-decoration: none;
      background-color: #1fc435;
      color: #fff;
      border-radius: 0.5rem;
      width: 6rem;
      font-size: 1.4em;
      transition: 100ms;
    }
    &__link:hover {
      background-color: #78c282;
    }
  }
}
.info-card{ 
  width: 700px;
  margin: 0 auto; 
  overflow: auto;
  background-color: #263248;
  border-radius: 1px;
  box-shadow: 5px 5px 20px;
  padding:1rem;
  display:flex;
}
.info-container{
  display:flex;
  justify-content:center;
  align-items: center;
  margin:auto;
}
.img-in-info{
  width:15rem;
  height:15rem;
  border-radius: 0.3rem;
  margin:1rem;
}
.info-text{
  width:100%;
  text-align: center;
}
.info-button{
  color:white;
  margin-top: 2rem;
  background-color: #00AEC6;
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  transition:0.5s;
  width:10rem;
}
.page-button{
  background-color: #00AEC6;
  color: white;
  margin-right: 0.2rem;
  width: 2rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}
.loading{
  justify-content: center;
  align-items: center;
}